<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ProjectDAO">

<!--  /////////////////////////////////////////////////////////////////////////// -->
<select id="getmonthlysales" resultType="Int">
select
 sum(inventory_price * inventory_amount)
  from inventory;
</select>
<!-- 물품 굼매 계약서 -->
 <select id="orderList" resultType="OrderformVO">
    SELECT 
        orderform.*,
        SUM(orderformdetail.orderdetail_price) AS total_price
    FROM 
        orderform
    JOIN 
        orderformdetail
    ON 
        orderform.orderform_num = orderformdetail.orderform_num
    GROUP BY 
        orderform.orderform_num;
</select> 
<!-- 물품 판매 리스트 -->
<select id="quotationList" resultType="QuotationVO">
   SELECT 
        quotation.*,
        SUM(quotationdetail.quotdetail_price) AS total_price
    FROM 
        quotation
    JOIN 
        quotationdetail
    ON 
        quotation.quot_num = quotationdetail.quot_num
    GROUP BY 
        quotation.quot_num;
</select>
<!-- 생산 계획서 -->

 



<!-- 구매 판매 계약서 올 -->
<select id="AllFormList" resultType="QuotationVO">
	   SELECT 
           *,concat('quot', quot_num) as this_num
       FROM 
           quotation
       GROUP BY 
           quotation.quot_num
      union ALL
        SELECT
         *,concat('order', orderform_num) as this_num
       FROM 
           orderform
       GROUP BY 
           orderform.orderform_num;
</select>

<!--  /////////////////////////////////////////////////////////////////////////// -->


<!-- 로그인 -->
   <select id="getMember" parameterType="java.util.Map" resultType="MemberVO">
		SELECT *
		FROM member
		WHERE member_id = #{member_id} and member_pwd = #{member_pwd} and member_grade = #{member_grade}
	</select>
	<!-- 회원가입 -->
	<insert id="Postregister" parameterType="java.util.Map">
		insert into member (
			member_id, member_pwd, member_name, member_email, member_phone, member_grade, member_dept
			) 
			values (
				#{member_id}, #{member_pwd}, #{member_name}, #{member_email}, #{member_phone}, #{member_grade}, #{member_dept}
				)
	</insert>
	<!-- 회원가입 유효성검사 -->
	<select id="checkMember_id" parameterType="string" resultType="int">
		select count(*)
		from member
		where member_id = #{member_id}	
	</select>	
	


</mapper>