<!DOCTYPE html>
<html>
<head>
<!-- 0203 -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script defer src="/js/chart.js"></script>

<style>

#DataTables_Table_0_wrapper {
	width: 96% !important;
	margin-left: 2% !important;
}

table.bestseller-table {
	text-align: center !important;
	
	th.sorting_asc, th.sorting {
		padding-right: 16px !important;
	}
	
	td.sorting_1 {
		pointer-events: none;
		padding-left: 16px !important;
	}
	
	td.table-plus::before {
		content: none !important;
	}
}

th.table-plus.datatable-nosort.sorting_asc::before, 
th.table-plus.datatable-nosort.sorting_asc::after,
th.sorting::before, th.sorting::after {
	content: none !important;
}
th.sorting, th.table-plus.datatable-nosort.sorting_asc {
	pointer-events: none; /* 클릭 비활성화 */
}








</style>


</head>
<body>
	<div th:replace="~{/include/header}"></div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="vendors/images/banner-img.png" alt="">
					</div>
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Welcome back <div class="weight-600 font-30 text-blue">Johnny Brown!</div>
						</h4>
						<p class="font-18 max-width-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde hic non repellendus debitis iure, doloremque assumenda. Autem modi, corrupti, nobis ea iure fugiat, veniam non quaerat mollitia animi error corporis.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">2020</div>
								<div class="weight-600 font-14">Contact</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart2"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">400</div>
								<div class="weight-600 font-14">Deals</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart3"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">350</div>
								<div class="weight-600 font-14">Campaign</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart4"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">$6060</div>
								<div class="weight-600 font-14">Worth</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 mb-30">
    <div class="card-box height-100-p pd-20">
        <h2 class="h4 pd-20">최근 작성된 생산 계획서 list5</h2>
       
        <!-- data-table table nowrap bestseller-table -->
        <table class="data-table table nowrap bestseller-table">
            <thead>
                <tr>
                    <th width="7%" class="table-plus datatable-nosort">No.</th>
                    <th>작성자</th>
                    <th>계약서 이름</th>
                    <th>작성일</th>
                    <th>진행여부</th>
                </tr>
            </thead>
            <tbody>
              
               	 <th:block th:each="list, stat : ${list}">
                   	 <tr>
                       	 <td>
                          <h5 class="font-16" th:text="${stat.index + 1}"></h5>
                       	 </td>
                       	 <!-- DB에서 가져온 pd_num -->
                       	  <td style="display: none;"></td>
                      	  <!-- 작성자 -->
                      	  <td th:text="${list.pd_writer}"></td>
                     	   <!-- 계약서 이름 -->
                     	  <!-- <td th:text="${list.pd_name}"></td> -->
                     	  <td><a th:href="factoryPlan"><th:block th:text="${list.pd_name}"></th:block></a></td>
                    	 <!--  <td th:text="${list.pd_name}"></td> -->
                  	      <td th:text="${list.pd_writedate}"></td>
                 	       <!-- 진행여부 -->
                		 <td>
  						  <th:block th:if="${list.pd_check == 0}">
       						 <span class="badge badge-success" th:text="'추가된 업무'"></span>
    					  </th:block>
    					  <th:block th:if="${list.pd_check == 1}">
        					<span class="badge badge-primary" th:text="'생산 완료'"></span>
    					 </th:block>
						 </td>
             	       </tr>
           	     </th:block>
        	</tbody>
      	  </table>
  	  </div>
	</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">생산진행 표</h2>
						<div id="pdCheckCount"></div>
					</div>
				</div>
			</div>
			
			<div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h5>자주 거래한 협력사 Top5 (최근 7일)</h5>
						<div id="apexchart2"></div>
					</div>
				</div>
				
			</div>
			
			<div class="card-box mb-30">
				<h2 class="h4 pd-20">이번 주 인기상품 Top5 (최근 7일)</h2>
				<table class="data-table table nowrap bestseller-table">
					<thead>
						<tr>
							<th width="7%" class="table-plus datatable-nosort">제품</th>
							<th>제품명</th>
							<th>제조사</th>
							<th>카테고리</th>
							<th>가격(원)</th>
							<th>판매량</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="product,stat: ${productSales}" th:if="${stat.index<5}">
							<tr>
								<td class="table-plus">
									<img th:src="${product.product_img}" width="70" height="70" alt="">
								</td>
								<td>
									<h5 class="font-16"><th:block th:text="${product.product_name}"/></h5>
									by <th:block th:text="${product.product_brand}"/>
								</td>
								<td><th:block th:text="${product.product_brand}"/></td>
								<td><th:block th:text="${product.product_category}"/></td>
								<td><th:block th:text="${#numbers.formatInteger(product.product_price,3,'COMMA')}"/></td>
								<td><th:block th:text="${product.released}"/></td>
								<td></td>
							</tr>
						</th:block>
						
					</tbody>
				</table>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="vendors/scripts/dashboard.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$().ready(function () {
			  
			$("#quotation-detail").click(function () {
				Swal.fire({
					icon: 'success',
					title: 'Quotation-detail',
					text: '계약서 작성 화면으로 이동합니다.',
				}).then(function() {
					location.href="quotation-detail";
				});
			});
			  
		});
	</script>
	
<script>

//fetchChartData 함수를 수정하여 chartdata 값을 차트에 반영
fetch('/chartdata')
    .then(response => response.json()) // JSON 데이터로 변환
    .then(data => {
        console.log("받은 데이터:", data); // 데이터를 콘솔에서 확인

        // ApexCharts 옵션 설정
        var options = {
            series: [data.black, data.white], // Spring Boot에서 받은 데이터 (변수명 변경)
            chart: {
                width: 410,
                type: 'pie',
            },
            labels: ['생산 예정', '생산 됨'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
   
        // 차트 렌더링
        var chart = new ApexCharts(document.querySelector("#pdCheckCount"), options);
        chart.render();
    })
    .catch(error => {
        console.error('Error fetching chart data:', error); // 에러 처리
    });


</script>
	
	
</body>
</html>